.user_avatar {
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
}
.single_comment {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}
.single_comment__header {
  background-color: rgb(246, 248, 250);
  padding: 20px;
  border: 1.5px rgb(208, 215, 222) solid;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: none;
}
.single_comment__content {
  width: 100%;
  border-radius: 6px;
}
.markdown {
  padding: 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1.5px rgb(208, 215, 222) solid;
}
