.issue {
  display: flex;
  padding: 1rem;
}
.issue_titles {
  width: 100%;
  padding-left: 0.5rem;
}
.issue_title {
  font-size: 1rem;
  color: #1f2328;
  font-weight: 600;
}
.issue_subTitle {
  font-size: 0.75rem;
  color: #656d76;
}
