.issue {
  display: flex;
  padding: 1rem;
}
.issue_titles {
  width: 100%;
  padding-left: 0.5rem;
}
.issue_title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  color: #1f2328;
  font-weight: 600;
}
.issue_subTitle {
  font-size: 0.75rem;
  color: #656d76;
}

.issue_labels {
  display: flex;
  gap: 4px;
}

.issue_infos {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: right !important;
  width: 24.99999999%;
}
.issue_infos__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  min-width: fit-content;
  flex: 1;
  flex-shrink: 0;
  font-size: 14px;
  color: #1f2328;
}

.issue_assignee_profile_image {
  border-radius: 50%;
}
