.table_header__toggle {
  display: flex;
  gap: 1.2rem;
  min-width: fit-content;
}
.table_filter {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.status_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user_profile {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.select_item {
  display: flex;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px rgb(216, 222, 228) solid;
  padding: 7px 32px;
}

.label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
