.table {
  width: 82%;
  border: 1px rgb(208, 215, 222) solid;
  border-radius: 6px;
}
.table_header {
  display: flex;
  background-color: #f6f8fa;
  padding: 1rem;
}

.table_header__toggle {
  display: flex;
  gap: 1.2rem;
  min-width: fit-content;
}
.table_filter {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.status_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
